header h1{font-size: 70;
	color: white}
header {text-align: center;
	font-size: 25;
	font-family: arial;
	font-style: initial;
	background: url(../IMG/1.jpg) no-repeat center top / cover;
	height: 280px}
.container {float: left;
margin-top: 69px;}
nav{float: left;}
.menu{background-color: #282d2c;
padding: 0;
display: block;}
.menu li {border: solid black;
	display: block;}
.menu a{color: white;
font-size: 20;
text-transform: uppercase;
text-decoration: none;}

.akc{
	margin-top: 50px;
	float: right;
	text-align: center;
	margin-right:100px; 
font-size: 16;}

.Pop{height: 220px; 
	text-align: center;
margin-left: 215px;
	font-size:20;
	font-family: arial;
	font-style: initial;
	height: 250px}
	.menu1{padding: 0;
display: block;  }
.menu1 li {
float: right;
display: block;}
.menu1 a{height: 225px;}


.brand{margin-top: 80px;
text-align: center;}

.menu2{font-size: 22;
	text-decoration: none;
float: left;
text-align: left;}
.menu2 ul{ column-count: 3;}
.menu2 li{list-style-type: none;
margin-right: 10px;}
.menu2 a{
text-decoration: none;}

.q1{text-align: center;
	margin-top: 400px;
	margin-left: 15px;
	font-size: 20;}









